* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[v-cloak] {
  display: none;
}

body {
  background-color: antiquewhite;
}

h1 {
  color: #fff;
}

.container {
  background-color: red;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 20px;
  padding: 20px;
}

.li-class {
  width: 60%;
  border-radius: 20px;
  background-color: yellow;
  gap: 10px;
  list-style: none;
  margin: 10px auto;
  text-align: center;
}
