* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[v-cloak] {
  display: none;
}

body {
  background-color: #03071e;
}

h1 {
  color: #faa307;
}

.container {
  background-color: #370617;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 20px;
  padding: 20px;
}

.li-class {
  width: 60%;
  border-radius: 20px;
  background-color: #6a040f;
  gap: 10px;
  list-style: none;
  margin: 10px auto;
  text-align: center;
  color: #fff;
  padding: 15px;
  font-size: 1.125rem;
}
